go 1.23.4

use (
	01-generate-room-description
	02-generate-names
	03-generate-names
	04-generate-npc-descriptions
	05-room-services
	06-bot-npc
	07-bot-with-memory

	bot-cli

	rpg-game-draft
	rpg-game

)
